<div class="main">
  <h1>Online conversation</h1>

  <div class="chat">

 
  <div class="messages">

    <div class="message" *ngFor="let string of greetings">
      
        <p>{{ string }}</p>
     
    </div>
  </div>
  <form #loginForm="ngForm">
    

      <input
      autocomplete="off"
      placeholder="Type Your Message..."
      name="newmessage"
      [(ngModel)]="newmessage"
      required
      />
      <button
      class="btn btn-primary"
      (click)="sendMessage()"
      [disabled]="!loginForm.valid"
      >
      Send
    </button>
  </form>
</div>
</div>
